:root{
    --light-green: #606C38;
    --dark-green: #283618;
    --dark-green-transparent: #283618e6;
    --milky-white: #FEFAE0;
    --light-brown: #DDA15E;
    --dark-brown: #BC6C25;
}

@font-face {
    font-family: BasicFont;
    src: url(../Fonts/SimpleHandmade.otf);
 }

@keyframes slide-up {
    from{
      transform: translateX(-300px);
    }
  
    to{
      transform: translateX(0);
    }
}

body {
    background-image: url("../Images/AboutImages/BackgroundAboutPage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-container{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    height: calc(100vh - 82px);
 }

.second-part{
  display: flex;
  flex-direction: column;
  align-self:auto;
}

.aboutContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutContent h2{ 
  font-family: 'DM Serif Display', serif;
  letter-spacing: 0.3em;
  text-shadow: 1px 1px 3px var(--light-green), 1px 1px 3px var(--light-green);
  font-size: 3vw;
  background-color: var(--dark-green-transparent);
  box-shadow: 1px 1px 3px rgba(40, 54, 24, 0.804), -1px -1px 3px rgba(40, 54, 24, 0.804);
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  color: var(--milky-white);
  margin-bottom: 2rem;
}


.aboutContent p, span{
  font-family: BasicFont;
}

.aboutContent p{
   text-transform: none;
   font-size: 1.5vw;
   background-color: var(--milky-white);
   border-radius: 2rem;
   padding: 0.5rem 2rem;
   box-shadow: 0 0 0 4px var(--milky-white), 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.aboutContent span{
    font-weight: bold;
    text-transform: none;
    color: var(--dark-green);
}

.container {
    position: fixed;
    justify-content: space-around;
    bottom: 0;
    display: flex;
    background-color: var(--dark-green);
     width:100%;  
}
  
.item {
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 2vw;
    color: var(--milky-white);
    animation: slide-up 1s ease-in;
    transition: all 0.3s;
    cursor: pointer;
    width: 23%;
}
  
.container .item:hover{
    color: var(--light-brown);
      transform: translateY(-3px)
}

@media screen and (min-width: 1024px){
    .aboutContent h2{ 
        font-size: 3vw;
      }
      
    .aboutContent p{
      font-size: 1.5vw;
    }
}
 

@media screen and (max-width: 767px){
  .aboutContent h2{ 
      font-size: 6vw;
    }

  .aboutContent p{
    font-size: 4vw;
  }

  .item{
    font-size: 3vw;
  } 
} 
  