:root{
    --light-green: #606C38;
    --dark-green: #283618;
    --milky-white: #FEFAE0;
    --light-brown: #DDA15E;
    --dark-brown: #BC6C25;
}

@font-face {
    font-family: BasicFont;
    src: url(../Fonts/SimpleHandmade.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-image: url("../Images/HelpImages/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.wrapper {
  max-width: 75%;
  margin: auto;
  padding-top: 5rem;
}

.wrapper > p, .wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.wrapper > h1 {
  letter-spacing: 0.188rem;
  font-weight: bold;
}

.wrapper h1 {
  background-color: var(--milky-white);
  font-family: BasicFont;
  letter-spacing: 0.3em;
  padding: 2rem;
  font-size: auto;
  font-style: italic;
}

.accordion {
  background-color: var(--milky-white);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  font-family: BasicFont;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.accordion i {
  font-size: 1.6rem;
}

.active,
.accordion:hover {
  background-color: #f1f7f5;
}
.pannel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: white;
  overflow: hidden;
  background-color: #f1f7f5;
  display: none;
}
.pannel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
  font-family: BasicFont;
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0.625rem 0;
}
.faq.active {
  border: none;
}

.first-line {
  font-weight: bold;
  font-style: italic;
}