@font-face {
    font-family: CaligraphicFont;
    src: url(../Fonts/font2.ttf);
 }

 @font-face {
    font-family: BasicFont;
    src: url(../Fonts/SimpleHandmade.otf);
 }


:root{

    --light-green: #606C38;
    --dark-green: #283618;
    --milky-white: #FEFAE0;
    --light-brown: #DDA15E;
    --dark-brown: #BC6C25;
}

*{
      margin:0; padding: 0;
      box-sizing: border-box;
      outline: none; 
      border: none;
      text-decoration: none;
      transition: .2s linear;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 7em; 
    overflow-x: hidden; 

} 

.welcomeText p{

    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: BasicFont ;
    font-weight: bold;
 
}
    

.plants {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left:2.5rem;
    margin-right:2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    gap: 5rem;

}

.plant {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27%;
    background-color: #F2F9F1    ;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10%;

}

.plant:hover {

    color: var(--milky-white) ;
    background-color: var(--dark-green);
  
}

.plant img{

   width: 90%;
   height: 90%;
   border-radius: 10%;
   margin-top: 1rem;
  
}


.plant p{

  font-size: 2.5vw;
  font-family: CaligraphicFont;
  margin-top: 1rem;
  margin-bottom: 1rem;

}


.add-plant-btn {

  position: relative;
  margin-top: 2rem;
  padding: 15px 35px;
  font-family: BasicFont;
  font-size: 2.5vw;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: 3px solid #2F5C2F;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
 
}

.add-plant-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  background-color: var(--light-green);
  border-radius: 8px;
  z-index: -1;
  transition: all 0.5s;
}

.add-plant-btn:hover::after {
  top: 0;
  left: 0;
}

@media screen and (max-width: 767px){

  .plant p{

    font-size: 5vw;
    font-family: CaligraphicFont;
    margin-top: 1rem;
    margin-bottom: 1rem;
  
  }

  .welcomeText p{
    font-size: 1rem;
 
   }

.plants {

  margin-left:1.5rem;
  margin-right:1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  gap: 1rem;

}
} 