:root{
    --light-green: #606C38;
    --dark-green: #283618;
    --milky-white: #FEFAE0;
    --light-brown: #DDA15E;
    --dark-brown: #BC6C25;
}
@font-face {
    font-family: myFont;
    src: url(../Fonts/Regular\ Brush.otf); 
 }

@font-face {
    font-family: BasicFont;
    src: url(../Fonts/SimpleHandmade.otf);
 }

 @keyframes slide-up {
     from{
        transform: translateX(-300px);
     }
   
     to{
        transform: translateX(0);
     }

}
 


body {
    background-image: url("../Images/AboutImages/BackgroundAboutPage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-container{

    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: calc(100vh - 82px);

 }

 .second-part{
    display: flex;
    flex-direction: column;
     align-self:auto;
   
  }


.title-text{

    display: flex;
    text-align: center;

}

.title-text p{
    margin-top: 5rem;
    font-family: myFont;
    color: black;
    font-size: 6vw;

}  

.homeBtn{
    margin-top: 3rem;
    display: flex;
    gap: 2rem;
    align-self: center;
    align-items:center;
 }


.homeBtn button {
    font-family: BasicFont;
    font-size: 2vw;
    padding-left: 3rem;
    padding-right: 3rem;
    cursor: pointer;
    border-radius: 100px;
    background-color: var(--light-green);
    color: #ffffff;
    box-shadow: 0 0 10px var(--dark-green);
    transition: all 0.3s;
    min-height: 4vw;
    border: #283618;
    margin-bottom: 1rem;
 }


.homeBtn button:hover {
background-color: #BC6C25;
box-shadow: 0 0 10px var(--dark-green);
transform: translateY(-5px);
font-weight: bold;
} 
 

 @media screen and (min-width: 1024px){

    .title-text p{

        font-size: 6vw;

    }
  }


  @media screen and (max-width: 767px){
    .title-text p{
        font-size: 12vw;
        margin-top: 0rem;

    }
    .homeBtn button {
        font-size: 5vw;
        min-height: 10vw;
     }
  } 
  