@font-face {
    font-family: myFont;
    src: url(../Fonts/Regular\ Brush.otf);
   
 }
 @font-face {
    font-family: Planr;
    src: url(../Fonts/SimpleHandmade.otf);
 }

 @keyframes slide-up {
     from{
        transform: translateX(-300px);
     }
   
     to{
        transform: translateX(0);
     }


  }
 
:root{
    --light-green: #606C38;
    --dark-green: #283618;
    --milky-white: #FEFAE0;
    --light-brown: #DDA15E;
    --dark-brown: #BC6C25;
}


.fundal-image {
    background-image: url("../Images/AboutImages/BackgroundAboutPage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-container{

    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: calc(100vh - 82px);

 }

 .second-part{
    display: flex;
    flex-direction: column;
     align-self:auto;
   
  }




.aboutContent h2{ 

  font-family: myFont;
  font-size: 3vw;
  background-color: var(--light-brown);
  color: var(--dark-green);
  margin-bottom: 0.5rem;

}

.aboutContent p{

   font-family: 'Lato', sans-serif;
   text-transform: none;
   font-size: 1.5vw;
   text-align: left;

}
.aboutContent span{

    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: none;
    color: var(--dark-green);
}

 
.container {

    position: fixed;
    justify-content: space-around;
    bottom: 0;
    display: flex;
    background-color: var(--dark-green);
     width:100%;
       
}
  
.item {

    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 2vw;
    color: var(--milky-white);
    animation: slide-up 1s ease-in;
    transition: all 0.3s;
    cursor: pointer;
    width: 23%;
}
  
.container .item:hover{
    color: var(--light-brown);
     transform: translateY(-3px)
   }




@media screen and (min-width: 1024px){

    .aboutContent h2{ 

        font-size: 3vw;
        
      }
      
      .aboutContent p{
      
        font-size: 1.5vw;
 
      }
  }
 

  @media screen and (max-width: 767px){

    .aboutContent h2{ 
        
        font-size: 6vw;
        
      }
      
      .aboutContent p{
      
        font-size: 4vw;
 
      }

      .item{

        font-size: 3vw;
      }
    
  } 
  