:root{
    --light-green: #606C38;
    --dark-green: #283618;
    --milky-white: #FEFAE0;
    --light-brown: #DDA15E;
    --dark-brown: #BC6C25;
}

body {
    margin: 0;
    font-family: 'Outfit', sans-serif;

    background-image: url('../Images/HomePageImages/homepage-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;

    padding-top: 2rem;

    height: 52rem;
}

.user-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 6rem;

    padding-bottom: 2rem;
  }

.option {
    width: 25rem;
    height: 35rem;
    border-radius: 3rem;

    padding-left: 2em;
    padding-right: 2em;

    background: var(--dark-green);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
    opacity: 90%;

    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    cursor:pointer;
  }

  .option:hover {
    border-bottom-right-radius: 5rem; 
    border-top-left-radius: 5rem;
    transform: scale(1.05);
    background : var(--light-green)
  }

  .option-name {
    font-family: 'Outfit', sans-serif;
    font-size: 2.5rem;
    color: white;
    text-align: center;
    letter-spacing: 0.3em;
    text-shadow: 1px 1px 2px #767373, -1px -1px 2px var(--light-green);
  }

  .icon-svg {
    width: 9em;
    height: 9em;
  }


