@font-face {
    font-family: myFont;
    src: url(../Fonts/Regular\ Brush.otf);
   
 }
 @font-face {
    font-family: Planr;
    src: url(../Fonts/SimpleHandmade.otf);
 }

 @keyframes slide-up {
     from{
        transform: translateX(-300px);
     }
   
     to{
        transform: translateX(0);
     }

}
 
:root{
    --light-green: #606C38;
    --dark-green: #283618;
    --milky-white: #FEFAE0;
    --light-brown: #DDA15E;
    --dark-brown: #BC6C25;
}

.fundal-image {
    background-image: url("../Images/AboutImages/BackgroundAboutPage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-container{

    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: calc(100vh - 82px);

 }

 .second-part{
    display: flex;
    flex-direction: column;
     align-self:auto;
   
  }


.title-text{

    display: flex;
    text-align: center;

}

.title-text p{
    margin-top: 5rem;
    font-family: myFont;
    color: black;
    font-size: 6vw;

}  

.homeBtn{

    display: flex;
    gap: 2rem;
    align-self: center;
    align-items:center;

 }


button {
    font-family: 'DM Serif Display', serif;
    font-size: 2vw;
    padding-left: 3rem;
    padding-right: 3rem;
    cursor: pointer;
    border-radius: 100px;
    background-color: var(--light-green);
    color: #ffffff;
    transition: all 0.3s;
    min-height: 4vw;
    
 }


  button:hover {

    background-color: #BC6C25;
    box-shadow: 0 0 10px var(--dark-green);
    transform: translateY(-5px);

  } 
 



 @media screen and (min-width: 1024px){

    .title-text p{

        font-size: 6vw;

    }
  }

  @media screen and( min-width: 768px) and (max-width:1023px) 
  {
    .title-text p{
        font-size: 15vw;
        margin-top: 0rem;

    }
    button {

        font-size: 5vw;
        min-height: 10vw;
        
     }
  } 

  @media screen and (max-width: 767px){
    .title-text p{
        font-size: 15vw;
        margin-top: 0rem;

    }
    button {

        font-size: 5vw;
        min-height: 10vw;
        
     }
  } 
  